<!-- cd ~/Desktop/python_lesson -->
{% load static %}

<!DOCTYPE html>
<html lang='ja'>
  <head>
    <meta charset='utf-8'>
    <title>{% block title %}{% endblock %}</title>
    <meta name='description' content='{% block meta_description %}{% endblock%}'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='https://unpkg.com/ress/dist/ress.min.css'>
    <link href='https://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
  </head>


  <body>
    <div id='news' class='big-bg1' style="background-image: url({% block img %}{% static 'website/img/img_2.jpg' %}{% endblock %});"></div>
    <header class="sub-header">
      <h1>Yusuke Kono</h1>
      <nav>
        <ul class="sub-nav">
          <li><a href="{% url 'home' %}">HOME</a></li>
          <li><a href="{% url 'profile' %}">PROFILE</a></li>
          <li><a href="{% url 'news' %}">PICTURES</a></li>
          <li><a href="{% url 'contact' %}">CONTACT</a></li>
          <li><a href='https://www.instagram.com/yusuke30323'><img src="{% static 'website/img/img_ins.png' %}" alt="" width='25' height='25'></a></li>
        </ul>
      </nav>
    </header>
    <div class="wrapper1">
      <h2 class="page-title">{% block page_title %}{% endblock %}</h2>
    </div>


    {% block content %}


    {% endblock %}


    <div id="page_top">
      <a href="#"></a>
    </div>
    <p class='rights'>
      <small>&copy; 2020 Yusuke Kono</small>
    </p>
  </body>
</html>
