{% extends 'base.html' %}
{% load static %}
{% block title %}Yusuke Kono - Pictures{% endblock %}
{% block meta_description %}Pictures{% endblock%}
{% block page_title %}Pictures{% endblock %}
{% block img %}{% static 'website/img/img_17.jpg' %}{% endblock %}



{% block content %}

<div class="wrapper3">
  <div class="item">
    <img src="{% static 'website/img/img_1.jpg' %}" alt="">

  </div>
  <div class="item">
    <img src="{% static 'website/img/img_3.jpg' %}" alt="">

  </div>
  <div class="item">
    <img src="{% static 'website/img/img_4.jpg' %}" alt="">

  </div>
  <div class="item">
    <img src="{% static 'website/img/img_5.jpg' %}" alt="">

  </div>
  <div class="item">
    <img src="{% static 'website/img/img_6.JPG' %}" alt="">

  </div>
  <div class="item">
    <img src="{% static 'website/img/img_7.JPG' %}" alt="">

  </div>
  <div class="item">
    <img src="{% static 'website/img/img_8.jpg' %}" alt="">

  </div>
  <div class="item">
    <img src="{% static 'website/img/img_10.JPG' %}" alt="">

  </div>
  <div class="item">
    <img src="{% static 'website/img/img_11.jpg' %}" alt="">

  </div>
  <div class="item">
    <img src="{% static 'website/img/img_12.JPG' %}" alt="">

  </div>
  <div class="item">
    <img src="{% static 'website/img/img_13.jpg' %}" alt="">

  </div>
  <div class="item">
    <img src="{% static 'website/img/img_15.jpg' %}" alt="">

  </div>
  <div class="item">
    <img src="{% static 'website/img/img_16.jpg' %}" alt="">

  </div>
  <div class="item">
    <img src="{% static 'website/img/img_17.jpg' %}" alt="">

  </div>
  <div class="item">
    <img src="{% static 'website/img/img_18.jpg' %}" alt="">

  </div>
  <div class="item">
    <img src="{% static 'website/img/img_19.jpg' %}" alt="">

  </div>
  <div class="item">
    <img src="{% static 'website/img/img_20.JPG' %}" alt="">

  </div>
  <div class="item">
    <img src="{% static 'website/img/img_21.jpg' %}" alt="">

  </div>
  <div class="item">
    <img src="{% static 'website/img/img_24.jpg' %}" alt="">
    
  </div>
</div>


{% endblock %}
