{% load static %}

<!DOCTYPE html>
<html lang='ja'>
  <head>
    <meta charset='utf-8'>
    <title>Yusuke Kono - Profile</title>
    <meta name='description' content='Yusuke Kono - Profile'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='https://unpkg.com/ress/dist/ress.min.css'>
    <link href='https://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
  </head>


  <body class='overflow'>
    <section class="container">
      <div id='home' class='big-bg' style="background-image: url({% static 'website/img/img_25.jpg' %});">
        <div class="home-page wrapper">
          <h1>Yusuke Kono</h1>
          <nav>
            <ul class="profile-nav">
              <li><a href="{% url 'home' %}">HOME</a></li>
              <li><a href="{% url 'profile' %}">PROFILE</a></li>
              <li><a href="{% url 'news' %}">PICTURES</a></li>
              <li><a href="{% url 'contact' %}">CONTACT</a></li>
            </ul>
          </nav>
          <p class='instalogo'>
            <a href='https://www.instagram.com/yusuke30323'>
              <img src="{% static 'website/img/img_ins.png' %}" alt="" width='25' height='25'>
            </a>
          </p>
          <div class="wrapper1">
            <h2 class="page-title">PROFILE</h2>
          </div>
          <div class="box">
            <br>
  	        <p class="name">Yusuke Kono - 河野 友祐</p><br>
             生年月日：1997年5月8日<br>
             出身地：広島県<br>
             学歴：名古屋大学在住<br>
             趣味：バスケットボール(中・高バスケ部、NBA観戦)、サウナ(週2で整う)、
             YouTube(東海オンエア、StylishNoob)、
             Netflix、読書、旅行(8ヶ月アメリカ留学)、写真<br><br>
             プログラミングスキル：HTML, CSS, JavaScript, Python, Django<br><br>
             2019年11月からプログラミング学習中。<br>
             連絡の際は、InstagramのDMへお願いします。<br><br>
          </div>
          <p class='rights'>
            <small>&copy; 2020 Yusuke Kono</small>
          </p>
      </div>
    </section>
  </body>
</html>
